{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'vidshare/all-videos.css' %}">
    <link rel="stylesheet" href="{% static 'vidshare/video-include.css' %}">
{% endblock css_files %}

{% block content %}
    <div class="content">
        <div class="title"><h1>Films Collection</h1></div>
        
        <div class="video-block comedy">
            <h2>To make You laugh</h2>
            <ul>
                {% for video in comedy_videos %}
                <li class="element">
                    {% include 'vidshare/includes/video-include.html' %}
                </li>
                {% endfor %}
               
            </ul>
        </div>
    </div>
{% endblock content %}