{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'vidshare/all-videos.css' %}">
{% endblock css_files %}

{% block content %}
    <div class="content">
        <h1 class="title">Films Collection</h1>
        <div class="video-block">
            <ul>
                {% for video in videos %}
                
                    {% for video_qs in video.category.all %}
                    
                    <li><h1>{{ video_qs }}</h1></li>
                    
                    {% endfor %}
                
               {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}