{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'vidshare/page-detail.css' %}">
<link rel="stylesheet" href="{% static 'vidshare/video-include.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}

{% block content %}

{% if comment_form.errors %}
    <div class="error-pop-up">
        <h3>Something Went Wrong!</h3>
        <p>It seems there was some issue with your comment, please make sure every filed is correct.</p>
    </div>
{% endif %}
<div class="video-block">
    <div class="main-video-block">
        <video class='vjs-matrix video-js main_video'
            width="1200"
            height="680"
            controls
            data-setup='={"playbackRates": [0.5, 1, 1.5, 2], "fluid": true'
            >
            <source src="/media/{{ main_video.video }}" type='video/mp4'>
            <p class='vjs-no-js'> To view this veido please enable js<a href="https://videojs.com/html5-video-support/" target="_blank">Support HTML5 video</a></p>
        </video>
        <div class="main_description">
            <div class="title-date">
                <h2>{{ main_video.title }}</h2>
                <p>{{ main_video.date }}</p>
            </div>
            <div class="secondary">
                <h4><a href="{% url 'author-page' main_video.author.slug %}"><i class="fa-solid fa-user"></i>  {{ main_video.author }}</a></h4>
                <div class="buttons">
                    {% if viewed %}
                        <div class="viewed-info">
                            <p><i class="fa-solid fa-eye"></i> already seen</p>    
                        </div>
                    {% endif %}
                    <div id="save-button">
                        <form action="{% url 'saved-videos' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ main_video.slug }}" name="slug">
                            <button>
                                {% if is_stored %}
                                    <i class="fa-solid fa-xmark cancel"></i> UNSAVE    
                                {% else %}
                                    <i class="fa-solid fa-star save"></i> SAVE
                                {% endif %}

                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="comment-block">
                <div class="comment-title">
                    <h1>Comments</h1>
                    
                </div>
                <div class="comment-form">
                    <form action="{% url 'detail-page' main_video.slug %}" method="POST">
                        {% csrf_token %}
                        {% for form_field in comment_form %}
                            <div class="input-control {% if form_field.errors %}error-issue{% endif %}">
                                {{ form_field.label_tag }}
                                {{ form_field }}
                                {{ form_field.errors }}
                            </div>
                        {% endfor %}
                        
                        <button>Post</button>
                    </form>
                </div>
                <div class="comments-display">
                    {% for comment in comments %}
                        <div class="comment-control">
                            <div class="comment-upper">
                                <h4>{{ comment.username }}</h4>
                                <p>{{ comment.date }}</p>
                            </div>
                            <p class="comment-value">{{ comment.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="recommendations">
        <p>What You Might Like:</p>
        {% for video in recommended %}
            {% include 'vidshare/includes/video-include.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}