{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'vidshare/index.css' %}">
<link rel="stylesheet" href="{% static 'vidshare/video-include.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}

{% block content  %}
    <div class="box-films starting">
        <h2>Lately Uplouded</h2>
        <div class="videos-row">
            {% for video in videos %}
                {% include 'vidshare/includes/video-include.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="box-films random">
        <h2>Saved Videos</h2>
        
        <div class="videos-row">
            {% if are_saved_videos %}
            {% for video in saved_videos %}
                {% include 'vidshare/includes/video-include.html' %}
            {% endfor %}

            {% else %}
            <div class="substitute">
                <h1>You didn't add any videos yet</h1>
                <p>You have option to add videos for later, so you will be able to have them all in one place. Try this fetaure!</p>
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="box-films starting">
        <h2>Your History</h2>
        <div class="videos-row">
            {% if are_viewed_videos %}
            {% for video in viewed_videos %}
                {% include 'vidshare/includes/video-include.html' %}
            {% endfor %}

            {% else %}
            <div class="substitute">
                <h1>You can see here videos you have already watched</h1>
                <p>Try this out</p>
            </div>
            {% endif %}
            
        </div>
    </div>
    
{% endblock content %}

