{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'vidshare/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}

{% block content  %}
    <div class="box-films starting">
        <h2>Lately Uplouded</h2>
        <div class="videos-row">
            {% for video in videos %}
                <div class="video">
                    <a href="">
                        <img src='{{ video.thumbnail.url }}'>
                        {% comment %} <video-js class='vjs-theme-sea'
                            width="360"
                            height="200"
                            controls
                            data-setup='={"playbackRates": [0.5, 1, 1.5, 2], "fluid": true'
                            >
                            <source src="/media/{{ video.video }}" type='video/mp4'>
                            <p class='vjs-no-js'> To view this veido please enable js<a href="https://videojs.com/html5-video-support/" target="_blank">Support HTML5 video</a></p>
                        </video-js> {% endcomment %}
                    </a> 
                    
                    <div class="caption">
                        <div class="title">{{ video.title }}</div>
                        
                        <div class="additional-information">
                            <a href="#"><i class="fa-solid fa-user"></i>  {{ video.author }}</a>
                            <div class="date">{{ video.date }}</div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="box-films random">
        <h2>Random Videos</h2>
        <div class="videos-row">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </div>
    <div class="box-films starting">
        <h2>Lately Uplouded</h2>
        <div class="videos-row">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </div>
    
{% endblock content %}

