{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'vidshare/index.css' %}">
{% endblock css_files %}

{% block content  %}
    <div class="box-films starting">
        <h2>Lately Uplouded</h2>
        <div class="videos-row">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </div>
    <div class="box-films random">
        <h2>Random Videos</h2>
        <div class="videos-row">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </div>
    <div class="box-films starting">
        <h2>Lately Uplouded</h2>
        <div class="videos-row">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </div>
    
{% endblock content %}

