{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'vidshare/index.css' %}">
<link rel="stylesheet" href="{% static 'vidshare/video-include.css' %}">
<link rel="stylesheet" href="{% static 'vidshare/search.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}

{% block content  %}
    
    <div class="videos">
        {% for video in match_list %}
           
                {% include 'vidshare/includes/video-include.html' %}
            
        {% endfor %}
    </div>
{% endblock content %}

