@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@300;400&family=Montserrat:ital,wght@0,300;1,300&display=swap');

.container {
    margin: auto;
    
    width: 100%;
    overflow: auto;
    padding: 0 20px;
    
}

.content h1 {
   color: rgb(213, 217, 221);  
   font-family: 'Anton', sans-serif;
   font-size: 46px;
}