.box-films {
    max-width: 90%;
    border: 2px solid #b4b4b4;
    min-height: 26rem;
    border-radius: 5px;
    
    background-color: #2b2c31;
    margin: auto;
    margin-top: 1rem;
}

.box-films:last-child {
    margin-bottom: 2rem;
}

.box-films h2 {
    color: #b4b4b4;
    margin-left: 1rem;
    display: block;

}



.box-films .videos-row {
    display: flex;
    justify-content: space-around;
    
}
