#main-nav .secondary-bar {
    display: none;
}

#main-nav .bar {
    background-color: white;

}

#main-nav .bar .all-videos {
    color: #9c61c4;
}

#main-nav .bar a {
    border-bottom: 2px solid #999;
}

.container {
    margin: auto;
    max-width: 1700px;
    width: 100%;
    overflow: auto;
    padding: 0 20px;
    
}

.video-block {
    display: flex;
}

main {
    background-color: rgb(255, 255, 255);
    background-image: none;

}

.video-block .main_video {
    margin-top: 2rem;
}

.video-block .main_description .title-date {
    display: flex;
    justify-content: space-between;
    width: 1200px;

}

.video-block .main_description .title-date p {
    border-bottom: 1px solid #999;
}

.video-block .main_description .secondary a {
    text-decoration: none;
    color: rgb(88, 182, 182);
}

.video-block .recommendations {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;

}


.video-block .recommendations p {
    font-weight: bold;
    font-size: 1.3rem;
}

.video-block .recommendations .video {
    width: 95%;
    padding: 2rem;
    padding-bottom: 5.5rem;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(156, 156, 156);
    border-radius: 5px;
    margin-bottom: 1rem;

}

.video-block .recommendations .video:first-child {
    padding-top: 1rem;

}



.video-block .recommendations .video a img{
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 0;
    height: 90%;
}

.video-block .recommendations .video .caption .title {
    background-color: rgb(240, 240, 240);
    color: black;
}






.video-block .description .secondary a {
    color: rgb(178, 93, 189);
    text-decoration: none;
    border-bottom: 1px solid #999;
}

